/*-- ROOT --*/
:root {
    --main-background-color_div1: rgb(60, 49, 156);

    --main-text-color: rgb(204, 204, 204);
}

/*-- HEADER --*/
.container-header {
    margin: 0px;
    padding: 0;
    padding-top: 5%;
    padding-bottom: 5%;
}

/*-- HEADER - Artopolis Logo --*/
.art-logo {
    margin: 0;
    margin-top: 1%;
    margin-bottom: 1%;

    width: 50%;
}

.container-logo {
    text-align: center;
}

/* --HEADER - slogan --*/
.container-slogan {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.slogan-h2 {
    font-family: 'hind_semiboldregular';
    font-size: 300%;

    text-decoration: none;
    text-transform: uppercase;

    color: var(--main-text-color);
}

/*-- BODY --*/
body {
    font-family: 'hind_lightregular';

    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: var(--main-background-color_div1);
}

.container-body {
    margin: 0px;
    padding: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}

.container-body-text {
    text-align: center;
}

.body-text-h3 {
    font-family: 'hind_lightregular';
    font-size: 250%;
    color: var(--main-text-color);
}

.container-soon {
    margin: 0px;
    padding: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

.soon-h1 {
    font-size: 400%;
    color: var(--main-text-color);
    font-family: 'hindbold';
    text-transform: uppercase;
}

/*-- BODY - dev --*/
.container-in-dev{
    margin: 0px;
    padding: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}
.dev-h3{
    font-size: 250%;
    color: var(--main-text-color);
    font-family: 'hind_lightregular';
    text-transform: none;
}