/*-- ROOT --*/
:root {
    --main-background-color_div1: rgb(60, 49, 156);

    --main-text-color: rgb(255, 255, 255);
}

/*-- HEADER --*/
.container-header {
    margin: 0px;
    padding: 5%;

    border: 1px solid red;
}

/*-- HEADER - Artopolis Logo --*/
.art-logo {
    margin: 0;
    margin-top: 1%;
    margin-bottom: 1%;

    width: 50%;
}

.container-logo {
    text-align: center;
}

/* --HEADER - slogan --*/
.container-slogan {
    text-align: center;
    margin: 0px;
    padding: 0px;

    border: 1px solid green;
}

.slogan-h2 {
    text-decoration: none;
    text-transform: uppercase;

    color: var(--main-text-color);
}

/*-- BODY --*/
body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: var(--main-background-color_div1);
    border: 1px solid red;
}

.container-body {
    border: 1px solid blue;
}

.container-body-text {
    text-align: center;
}

.body-text-h3 {
    color: var(--main-text-color);
}

.container-soon {
    margin: 0px;
    padding: 5%;
    text-align: center;
    border: 1px solid black;
}

.soon-h1 {
    font-size: 400%;
    color: var(--main-text-color);
    font-weight: bold;
    text-transform: uppercase;
}